<article id="post-{{ wp.the_ID }}" {{ wp.post_class }}>
    <div class="media">
        {% if wp.has_post_thumbnail %}
            <a class="media-left" href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">
                {{ wp.the_post_thumbnail('thumbnail', {'class':'img-thumbnail'}) }}
            </a>
        {% endif %}
        <div class="media-body">
            <h4 class="media-heading"><a href="{{ wp.the_permalink }}" title="{{ wp.the_title }}">{{ wp.the_title }}</a></h4>
            {{ wp.the_excerpt }}
        </div>
    </div>
</article>