<!doctype html>
<html class="no-js" {{ wp.language_attributes }}>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="{{ wp.bloginfo('charset') }}">
    <link rel="pingback" href="{{ wp.bloginfo('pingback_url') }}">
	<title>{{ wp.wp_title('|', true, 'right') }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ wp.wp_head }}

    <script type="text/javascript">
        WebFontConfig = {
            google: { families: [ 'Open+Sans::latin' ] }
        };
        (function() {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
    </script>
</head>
